<!DOCTYPE html>
<html lang="en">
<!--{% load static %}-->
<link>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>


</head>
<body>
    <h1>Here are your user!</h1>

    <ol>
     {% for user in users.all %}
    <li>User info</li>
    <ul>
        <li>First Name:{{user.First_name}}</li>
        <li> Last Name:  {{user.Last_name}}</li>
        <li>Email:{{user.Email}}</li>

    </ul>

        {%endfor%}

   </ol>

</body>
</html>



